footer {
  text-align: center;
}
body {
  margin: 20px;
}

p {
  margin: 20px;
}

a:visited { 
    color: red;
}

#fruit, ul {
  font-style: italic;
}

p.success {
  border-width: 2px;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1, h2, h3 {
  font-family: Helvetica;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: .8em;
  }
}
